// Colors
$bg-color: #212121;
$font-color: #FFFFFF;
$link-color: rgb(190, 217, 220);
$dark-red: #D32F2F;
$red: #F44336;
$light-red: #FF5252;
$yellow: #FFEB3B;
$alizarin: #e74c3c;
// Typography
$main-font: Fira Mono,
Helvetica,
serif;