@import 'variables';
html {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    line-height: 1.6;
    font-family: $main-font;
    font-size: 16px;
    background-color: $bg-color;
    color: $font-color;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.75s;
}

a,
#copy-email {
    color: $link-color;
}

a:visited {
    color: $link-color;
}

a:hover,
#copy-email:hover {
    color: $yellow;
    animation: 2s flash infinite;
}

#main-wrapper {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 50px;
}

#main-wrapper-content {
    margin-left: 1em;
    margin-right: 1em;
}

#reveal, #close-curtains {
    position: absolute;
    top: 0;
}

#reveal {
    right: 0;
    font-size: 2em;
    margin: 25px;
}

#close-curtains {
    left: 0;
    margin: 1em;
}

#name {
    color: $yellow;
}

.content-wrapper {
    margin-bottom: 0;
}

.light-red {
    color: $light-red;
}

.yellow {
    color: $yellow;
}

.red {
    color: $red;
}

.bold-italic {
    font-weight: 900;
    font-style: italic;
}

.website-skills {
    padding-left: 25px;
}

#contact-me {
    font-style: italic;
}

#copy-email {
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}

#social-media-links {
    list-style-type: none;
    padding-left: 0;
}

.social-media-nav-item {
    display: inline-block;
    padding: 5px;
    margin: 0 0.5em;
}

.social-media-link {
    display: block;
    font-size: 1em;
}

#projects {
    position: fixed;
    top: -100%;
    width: 100vw;
    height: 100%;
    z-index: 10000;
    transition: 1.5s;
    transform: translate(0, 0);
    overflow: scroll;
}

#show-projects #projects {
    transition: 1.5s;
    transform: translate(0, 100%);
}

#show-projects #close-curtains {
    z-index: 99999;
}

#projects-strat {
    min-height: 100%;
    background-color: white;
}

#projects-container {
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px 0 0 0;
    margin: 0;
    position: relative;
}

#show-projects #main-wrapper {
    opacity: 0;
    transition: 0.5s;
}

#filter-projects {
    padding-top: 10px;
    margin: 0;
}

#close-curtains, .filter-link {
    color: black;
}

#close-curtains:hover {
    color: white;
    border: 1px dashed black;
}

#close-curtains:visited, .filter-link:visited {
    color: black;
}

#projectz:hover {
    color: yellowgreen;
}

#opensource:hover {
    color: darkslateblue;
}

#uni-projects:hover {
    color: seagreen;
}

#code-practice:hover {
    color: darkviolet;
}

#gaming:hover {
    color: red;
}

#grand-title {
    text-align: center;
    color: black;
}

.project {
    display: inline-block; // prevent collapsing margins
    border: 0.5px dashed;
    padding: 1em;
    margin: 1em 1.5em; // this makes my flex nice
    min-width: 275px; // make it look nice!
}

.project-col {
    flex: 1;
}

.project-title {
    color: $alizarin;
}

.project-permalink {
    color: $alizarin;
    text-decoration: none;
}

.project-permalink:hover {
    text-decoration: underline;
    color: $alizarin;
}

.project-permalink:visited {
    color: $alizarin;
}

.flash {
    animation: 2s flash infinite;
}

.filter-link {
    text-decoration: none;
}

.filter-link i {
    font-style: normal;
}

@keyframes flash {
  0% {
    text-shadow: 0px 0px 5px #cacacc;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0px 0px 5px #cacacc;
  }
}

@media only screen and (min-width: 768px) {
    #main-wrapper-content {
        width: 630px;
        float: right;
    }
}