<!DOCTYPE html>
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        meta(name='author', content='Chau The Nguyen')
        meta(name='description', content='Chau The Nguyen\'s personal site.')

        title Chau T. Nguyen | Home

        link(rel='icon' href='favicon.ico' type='image/x-icon')

        link(inline rel='stylesheet' href='lib/fira-custom.css')
        link(inline rel='stylesheet' href='lib/normalize.min.css')
        link(inline rel='stylesheet' href='lib/fontello.css')
        link(inline rel='stylesheet' href='css/main.css')
    body
        a(id='reveal' href='#')
            i(class='icon-code flash')
        #projects
            #projects-menu
                a(id='close-curtains' href='#')
                    i(class='icon-up-big')
                ul(id='filter-projects')
                    li(class='filter-projects-item')
                        a(href='#' id='projectz' class='filter-link')
                            i(class='icon-star') &nbsp;projects
                    li(class='filter-projects-item')
                        a(href='#' id='opensource' class='filter-link')
                            i(class='icon-users') &nbsp;open source
                    li(class='filter-projects-item')
                        a(href='#' id='hackathons' class='filter-link')
                            i(class='icon-bank') &nbsp;hackathon projects
                    li(class='filter-projects-item')
                        a(href='#' id='uni-projects' class='filter-link')
                            i(class='icon-bank') &nbsp;uni projects
                    li(class='filter-projects-item')
                        a(href='#' id='code-practice' class='filter-link')
                            i(class='icon-code') &nbsp;code stuffs
                    li(class='filter-projects-item')
                        a(href='#' id='gaming' class='filter-link')
                            i(class='icon-gamepad') &nbsp;gaming
            h1(id='grand-title')
            ul(id='projects-container')
        #main-wrapper.fade-in
            #main-wrapper-content <!-- for special positioning (see media query) -->
                h1(id='name' class='flash') Chau T. Nguyen
                .content-wrapper
                    p.
                        3rd year #[span(class='yellow') Computer Science] major @ OCC #[span(class='yellow') &#8658] UCI Fall 2017<br><br>Aspiring #[span(class='light-red') Software Engineer].<br><br>I'm currently working on a #[a(href='https://github.com/ChauTNguyen' target='_blank') few projects] (primarily refactoring and adding new features) as well as learning new languages and concepts to prepare myself for university this fall.
                    p.
                        #[a(href='https://drive.google.com/open?id=0Bxm78eWfpvP9VkUyMEJDSWFteTg' target='_blank') Resume]
                #contact
                    //- span(id='contact-me') Contact me!
                    span(id='contact-me')
                        span Contact me @
                        span &nbsp;
                        a(href='mailto:chautnguyen96@gmail.com'
                        id='myEmail') chautnguyen96@gmail.com
                        span &nbsp;or&nbsp;
                        span(id='copy-email' data-clipboard-text='chautnguyen96@gmail.com') copy my email!
                #social-media
                    ul(id='social-media-links')
                        li(class='social-media-nav-item')
                            a(href='https://github.com/chautnguyen' class='social-media-link' target='_blank') <i class="icon-github-circled" aria-hidden="true"></i>
                        li(class='social-media-nav-item')
                            a(href='https://linkedin.com/in/chau-nguyen-05aa44129' class='social-media-link' target='_blank') <i class="icon-linkedin" aria-hidden="true"></i>
                        li(class='social-media-nav-item')
                            a(href='https://chautnguyen.github.io' class='social-media-link' target='_blank') Blog
                
        script(inline type='text/javascript' src='lib/fetch-2.0.2.min.js')
        script(inline type='text/javascript' src='lib/clipboard.min.js')
        script(inline type='text/javascript' src='js/index.js')