<!DOCTYPE html>
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        meta(name='author', content='Chau Nguyen')
        meta(name='description', content='Chau Nguyen\'s personal site.')

        title Chau | Home

        link(rel='icon' href='favicon.ico' type='image/x-icon')

        link(inline rel='stylesheet' href='lib/fira-custom.css')
        link(inline rel='stylesheet' href='lib/normalize.min.css')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(inline rel='stylesheet' href='css/main.css')
    body
        a(id='reveal' href='#') <i class="fa fa-arrow-down" aria-hidden="true"></i>
        #projects
                a(id='close-curtains' href='#') <i class="fa fa-arrow-up" aria-hidden="true"></i>
                #projects-strat
                    ul(id='filter-projects')
                        li
                            a(href='#' id='projectz' class='filter-link')
                                i(class='fa fa-star') &nbsp;projects
                        li
                            a(href='#' id='opensource' class='filter-link')
                                i(class='fa fa-group') &nbsp;open source
                        li
                            a(href='#' id='uni-projects' class='filter-link')
                                i(class='fa fa-university') &nbsp;uni projects
                        li
                            a(href='#' id='gaming' class='filter-link')
                                i(class='fa fa-gamepad') &nbsp;gaming
                    h1(id='grand-title')
                    ul(id='projects-container')
        #main-wrapper.fade-in
            #main-wrapper-content
                h1(id='name' class='flash') Chau Nguyen
                .content-wrapper
                    p.
                        3rd year #[span(class='yellow') CS] major @ OCC #[span(class='yellow') &#8658] Uni Fall 2017<br><br>#[span(class='light-red') Python], #[span(class='light-red') JavaScript], & #[span(class='light-red') coffee] lover.<br><br>
                        Currently, I like making & recreating websites that are:
                    ul(class='website-skills')
                        li(class='website-skills-item') #[span(class='red bold-italic') responsive] on every platform, screen size, & orientation
                        li(class='website-skills-item') #[span(class='red bold-italic') interactive], #[span(class='red bold-italic') unobtrusive], & #[span(class='red bold-italic') transparent] UX
                        li(class='website-skills-item') #[span(class='red bold-italic') lightweight] and loads #[span(class='red bold-italic') fast] on all devices
                    p.
                        such as #[a(href='http://50years.rudolfheltzel.surge.sh/' target='_blank') this] and #[a(href='http://touche-test.surge.sh/' target='_blank') this]. #[a(href='https://github.com/ChauTNguyen/Front-End-Projects' target='_blank') All my front-end projects can be found here].<br><br>You can also visit my #[a(href='https://cnguyen.herokuapp.com/portfolio/' target='_blank') current portfolio site], where many of my older projects live for now.<br>

                #contact
                    span(id='contact-me') Contact me!
                
                #social-media
                    ul(id='social-media-links')
                        li(class='social-media-nav-item')
                            a(href='https://github.com/chautnguyen' class='social-media-link' target='_blank') <i class="fa fa-github" aria-hidden="true"></i>
                        li(class='social-media-nav-item')
                            a(href='https://linkedin.com/in/chau-nguyen-05aa44129' class='social-media-link' target='_blank') <i class="fa fa-linkedin" aria-hidden="true"></i>
                        li(class='social-media-nav-item')
                            a(href='https://chautnguyen.github.io' class='social-media-link' target='_blank') <i class="fa fa-rss" aria-hidden="true"></i>
                
                script(inline type='text/javascript' src='lib/fetch-2.0.2.min.js')
                script(inline type='text/javascript' src='lib/clipboard.min.js')
                script(inline type='text/javascript' src='js/index.js')