<!DOCTYPE html>
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        meta(name='author', content='Chau Nguyen')
        meta(name='description', content='Chau Nguyen\'s personal site.')

        title Chau | Home

        link(inline rel='stylesheet' href='lib/fira-custom.css')
        link(inline rel='stylesheet' href='lib/normalize.min.css')
        link(inline rel='stylesheet' href='css/main.css')
    body
        #main-wrapper.fade-in
            #main-wrapper-content
                p(class='about').
                    Chau Nguyen<br><br>I'm currently a third year Computer Science major at Orange Coast (community) College, and I will be transferring to a university in the fall of 2017.<br><br>I enjoy creating both (web)sites and web applications. I have a minor obsession with site sizes. When working on a site, I strive to make it as lightweight as possible for mobile users. I occasionally find myself recreating other peoples' sites to see if I can create lighter versions of them while keeping the feel and look intact. I also obsess over creating sites that are properly responsive on every platform & orientation, such as #[a(href='http://50years.rudolfheltzel.surge.sh/' target='_blank') this].<br><br>My favorite languages are Python, JavaScript (ES5/ES6), HTML, and CSS. I love functional programming, algorithms, and data structures despite the fact that I suck at them. Also a coffee lover.<br><br>You can find my current portfolio site #[a(href='https://cnguyen.herokuapp.com/portfolio/' target='_blank') here], and many of my older projects (that I have yet to migrate).<br><br>

                #contact
                    span(id='contact-me') Contact me!

                ul(id='social-media-links')
                    li(class='social-media-nav-item')
                        a(href='https://github.com/chautnguyen' class='social-media-link' target='_blank') GitHub
                    li(class='social-media-nav-item')
                        a(href='https://linkedin.com/in/chau-nguyen-05aa44129' class='social-media-link' target='_blank') LinkedIn
                
                script(inline type='text/javascript' src='lib/clipboard.min.js')
                script(inline type='text/javascript' src='js/index.js')